*.json
*.pyc
__pycache__
data
!data/trivia/*
!data/audio/playlists/*
*.exe
*.dll
/lib
/Red-DiscordBot.sln
/Red-DiscordBot.pyproj
/start_launcher.sh
/start_red.sh
/start_red_autorestart.sh
/start_red.bat
/start_red_autorestart.bat
/.vs/Red-DiscordBot/v14/.suo
/.idea
/.vs/Red-DiscordBot/v15
*.suo
/.idea/workspace.xml
/.idea/vcs.xml
/.idea/Red-DiscordBot.iml
/.idea/modules.xml
/.idea/misc.xml
/UpgradeLog.htm
/Red-DiscordBot.pyproj.user
/Red-DiscordBot.pyproj.user
/data/downloader/26-Cogs
/data/downloader/26-Cogs
/data/downloader/26-Cogs
/data/downloader/26-Cogs
/cogs/trigger.py
/cogs/rndstatus.py
/cogs/penis.py
/data/downloader/26-Cogs
/env
/data/downloader
/data/downloader
